#root {
  margin: 0 auto;
  text-align: center;
}

.about-us {
  height: auto;
  background: black;
  display: flex;
  width: 80%;
  opacity: 0.8;
}
.content {
  background: black;
  opacity: .7;
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.footer{
  width: 90%;
  height: auto;
}

h2 {
  opacity: none;
  color:white;
}
 
h5 {
  color: white;
  padding: 0.5rem;
}

.h5-opacity{
  opacity: 0.8;
  font-size: 1rem;
}

.rounded-border{
  border: 2px solid black;
  border-radius: 12px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
